In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import tree

In [3]:
dataset_url = 'http://mlr.cs.umass.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
data = pd.read_csv(dataset_url, sep=';')

In [4]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
y= data.quality
x= data.drop('quality', axis=1)

In [6]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.2)

In [9]:
x_train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
521,7.6,0.410,0.49,2.0,0.088,16.0,43.0,0.99800,3.48,0.64,9.1
1085,6.8,0.480,0.08,1.8,0.074,40.0,64.0,0.99529,3.12,0.49,9.6
237,7.2,0.645,0.00,1.9,0.097,15.0,39.0,0.99675,3.37,0.58,9.2
1357,7.3,0.430,0.24,2.5,0.078,27.0,67.0,0.99648,3.60,0.59,11.1
1532,7.2,0.530,0.13,2.0,0.058,18.0,22.0,0.99573,3.21,0.68,9.9

In [12]:
x_train_scaled= preprocessing.scale(x_train)
x_train_scaled

array([[-0.41287056, -0.677407  ,  1.14609673, ...,  1.08713675,
        -0.11573162, -1.2286462 ],
       [-0.87466457, -0.28072802, -0.97593443, ..., -1.24040554,
        -0.98134995, -0.75696938],
       [-0.64376757,  0.65430099, -1.38998929, ...,  0.37594327,
        -0.46197895, -1.13431084],
       ...,
       [-0.06652506,  2.66603009, -0.92417757, ...,  0.05267351,
        -0.63510262, -1.32298157],
       [ 0.27982045, -1.30075968,  0.5767713 , ...,  0.50525118,
         0.3459315 ,  1.31840863],
       [-1.50963133,  0.39929308, -1.38998929, ...,  0.89317489,
        -0.57739473,  1.69575008]])

In [14]:
classifier=tree.DecisionTreeClassifier()
classifier.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [16]:
confidence=classifier.score(x_test,y_test)
confidence

0.628125

In [19]:
y_pred = classifier.predict(x_test)

In [26]:
X=np.array(y_pred).tolist()

#printing first 5 predictions
print(("\nThe prediction:\n"))
for i in range(0,5):
   print(X[i]) 
    
#printing first five expectations
print("\nThe expectation:\n")
print (y_test.head())

The prediction:

6
5
6
6
5

The expectation:

811     6
176     5
1192    7
148     6
128     7
Name: quality, dtype: int64